#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

.navbar-first-item {
    margin-right: 1.3rem;
}

.last-item {
    margin-right: 1rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container-overflow {
    display: flex;
    justify-content: space-between;
}

.flex-item:first-child {
    flex: 3 0;
}

.flex-item:last-child {
    flex: 1 0;
}

.flex-item {
    flex: 1;
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .last-item {
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
}

.top-margin {
    margin-top: 1rem;
}

.top-margin-2 {
    margin-top: 2rem;
}

.top-margin-3 {
    margin-top: 3rem;
}

.margin-infobtn {
    display: flex;
    align-items: center;
}

.margin-infobtn h2 {
    margin-right: 10px;
}

.margin-infobtn Button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
}
