#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

.navbar-first-item {
    margin-right: 1.3rem;
}

.last-item {
    margin-right: 1rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container-overflow {
    display: flex;
    justify-content: space-between;
}

.flex-item:first-child {
    flex: 3 0;
}

.flex-item:last-child {
    flex: 1 0;
}

.flex-item {
    flex: 1;
}

.flex-item-normal {
    flex: 1;
}

.top-margin {
    margin-top: 1rem;
}

.top-margin-2 {
    margin-top: 2rem;
}

.top-margin-3 {
    margin-top: 3rem;
}

.margin-infobtn {
    display: flex;
    align-items: center;
}

.margin-infobtn h2 {
    margin-right: 10px;
}

.margin-infobtn Button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
}

.hoverbox {
    transition: opacity 0.4s;
}

.hoverbox:hover {
    opacity: 0.65;
}

.i3-4 {
    margin-top: 30px;
}

.p-dataview-content {
    background-color: unset;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.p-no-margins > p {
    margin: 0;
    padding: 0;
}

.p-no-margins {
    padding: 0;
}

.splitscreen {
    display: flex;
}

.padding-left {
    padding-left: 1rem;
}

/* Mobile settings */
@media (max-width: 760px) {
    .flex-container {
        flex-direction: column;
    }

    .last-item {
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .hidden-on-mobile {
        display: none;
    }

    .flex-container-overflow {
        flex-direction: column;
    }

    .flex-item:first-child {
        order: 2;
        margin-top: 1rem;
    }

    .flex-item:nth-child(2) {
        order: 1;
    }
}
